.Xauthority
.bash_history
.bash_logout
.cache/
.config/Code/
.config/GIMP/
.config/Mattermost/
.config/QtProject.conf
.config/Thunar/
.config/configstore/
.config/dconf/
.config/discord/
.config/gatsby/
.config/google-chrome/
.config/gtk-2.0/
.config/gtk-3.0/
.config/htop/
.config/libreoffice/
.config/mimeapps.list
.config/pavucontrol.ini
.config/pdfarranger/
.config/pulse/
.config/xfce4/
.env
.globus/
.gnupg/
.gtkrc-2.0
.icons/
.k5login
.lesshst
.local/
.mozilla/
.node_repl_history
.npm/
.pki/
.python_history
.root_hist
.ssh/
.vim/
.viminfo
.vscode/
.x2goclient/
.yarnrc
.zoom/
Documents/
Downloads/
Pictures/
Scientific_Check_Sheet_Form.pdf
cern/
code/
hi.cpp
tmp/
walbit/
Desktop/
bin/
dmenu_log
thor/
.steam/
.steampath
.steampid
.config/Unknown Organization
.config/d-feet/
.config/vlc/
.config/whatscli/
.config/zoomus.conf
.pulse-cookie
Games/
dev/
.This War of Mine/
